<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="prise_en_main"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="PRISE_EN_MAIN"/>
<stringAttribute key="TALEND_JOB_ID" value="_RkhuEIulEe26x91sTOTqgg"/>
<stringAttribute key="TALEND_JOB_NAME" value="testDate"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
